<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <title>PS-JOB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/animate/animate.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/mmenu/css/jquery.mmenu.all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/videobackground/css/jquery.videobackground.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/tabdrop/css/tabdrop.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/summernote/css/summernote.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/summernote/css/summernote-bs3.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/minimal.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/add-task.css}" />
    <style type="text/css">
        *{font-family: "Microsoft YaHei";}
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv-printshiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>
<!--/Preloader -->
<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Make page fluid -->
    <div class="row">
        <!-- Fixed navbar -->
        <div th:replace="admin/fragments::menutemplate"></div>
        <!-- Fixed navbar end -->
        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- page header -->
            <div class="pageheader">
                <h2><i class="fa fa-tachometer"></i> Dashboard <span>新建任务</span></h2>
            </div>
            <!-- /page header -->
            <!-- content main container -->
            <div class="main">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <section class="tile color transparent-black">
                            <div class="tile-header">

                            </div>
                            <div class="tile-body">
                                <form class="form-horizontal" th:action="@{/task/add}" method="post">
                                    <div class="form-group">
                                        <label for="scheduler" class="col-sm-2 control-label">调度类</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="scheduler" name="scheduler" placeholder="请输入调度类">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="monitor" class="col-sm-2 control-label">监控类</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="monitor" name="monitor" placeholder="请输入监控类">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="executor" class="col-sm-2 control-label">执行类</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="executor" name="executor" placeholder="请输入执行类">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sort" class="col-sm-2 control-label">优先级</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="sort" name="sort" placeholder="请输入优先级">
                                        </div>
                                    </div>
                                    <div class="form-group btn-center">
                                        <div class="btn-group">
                                            <button type="button" id="addBtn" class="btn btn-primary">提交</button>
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- /content container -->
        </div>
        <!-- Page content end -->
    </div>
    <!-- Make page fluid-->
</div>
<!-- Wrap all page content end -->
<section class="videocontent" id="video"></section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/mmenu/js/jquery.mmenu.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/sparkline/jquery.sparkline.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/nicescroll/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/animate-numbers/jquery.animateNumbers.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/videobackground/jquery.videobackground.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/blockui/jquery.blockUI.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.min.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.time.min.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.animator.min.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.orderBars.js}"></script>
<script th:src="@{/assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js}"></script>
<script th:src="@{/assets/js/vendor/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/minimal.min.js}"></script>
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/add-task.js}"></script>
</body>
</html>