<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <title>PS-JOB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/animate/animate.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/mmenu/css/jquery.mmenu.all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/videobackground/css/jquery.videobackground.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap-checkbox.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/morris/css/morris.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/tabdrop/css/tabdrop.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/summernote/css/summernote.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/summernote/css/summernote-bs3.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/chosen/css/chosen.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/chosen/css/chosen-bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/minimal.css}" />
    <style type="text/css">
        *{font-family: "Microsoft YaHei";}
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv-printshiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>
<!--/Preloader -->
<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Make page fluid -->
    <div class="row">
        <!-- Fixed navbar -->
        <div th:replace="admin/fragments::menutemplate"></div>
        <!-- Fixed navbar end -->
        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- page header -->
            <div class="pageheader">
                <h2><i class="fa fa-tachometer"></i> Dashboard <span>平台运行情况</span></h2>
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>You are here</li>
                        <li><a href="index.html">Minimal</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- /page header -->
            <!-- content main container -->
            <div class="main">
                <!-- cards -->
                <div class="row cards">
                    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                        <div class="card card-redbrown hover">
                            <div class="front">
                                <div class="media">
                                    <span class="pull-left"> <i class="fa fa-users media-object"></i> </span>
                                    <div class="media-body">
                                        <small>调度节点</small>
                                        <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>
                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">
                                            存活率 %
                                        </div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="#"> <i class="fa fa-bar-chart-o fa-4x"></i> <span>Check Summary</span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                        <div class="card card-blue hover">
                            <div class="front">
                                <div class="media">
                                    <span class="pull-left"> <i class="fa fa-shopping-cart media-object"></i> </span>
                                    <div class="media-body">
                                        <small>监控节点</small>
                                        <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>
                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">
                                            存活率 %
                                        </div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="#"> <i class="fa fa-bar-chart-o fa-4x"></i> <span>Check Summary</span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                        <div class="card card-greensea hover">
                            <div class="front">
                                <div class="media">
                                    <span class="pull-left"> <i class="fa fa-usd media-object"></i> </span>
                                    <div class="media-body">
                                        <small>工作节点</small>
                                        <h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>
                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">
                                            存活率 %
                                        </div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="#"> <i class="fa fa-bar-chart-o fa-4x"></i> <span>Check Summary</span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                        <div class="card card-slategray hover">
                            <div class="front">
                                <div class="media">
                                    <span class="pull-left"> <i class="fa fa-eye media-object"></i> </span>
                                    <div class="media-body">
                                        <small>当前执行Task</small>
                                        <h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>
                                <div class="progress-list">
                                    <div class="details">
                                        <div class="title">
                                            进度 %
                                        </div>
                                    </div>
                                    <div class="status pull-right bg-transparent-black-1">
                                        <span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="progress progress-little progress-transparent-black">
                                        <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="#"> <i class="fa fa-bar-chart-o fa-4x"></i> <span>Check Summary</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /cards -->
                <!-- row -->
                <div class="row">
                    <!-- col 8 -->
                    <div class="col-lg-12 col-md-12">
                        <!-- tile -->
                        <section class="tile transparent">
                            <!-- tile header -->
                            <div class="tile-header color transparent-black textured rounded-top-corners">
                                <h1><strong>ShardTask of RunningTask</strong></h1>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->
                            <!-- tile widget -->
                            <div class="tile-widget color transparent-black textured">
                                <div id="statistics-chart" class="chart statistics" style="height: 250px;"></div>
                            </div>
                            <!-- /tile widget -->
                        </section>
                        <!-- /tile -->
                        <section class="tile color transparent">
                            <!-- tile header -->
                            <div class="tile-header color  transparent-white rounded-top-corners">
                                <h1><strong>Server Load</strong></h1>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->
                            <div class="tile-body color transparent-white rounded-bottom-corners">
                                <div class="row">
                                    <ul class="inline">
                                        <li class="col-md-8 col-sm-12 col-xs-12 text-center">
                                            <div class="inner-container inline">
                                                <div data-percent="10" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="#ffffff" data-line-width="5">
                                                    <div class="text-center">
                                                        <i class="fa fa-usd fa-5x"></i>
                                                    </div>
                                                </div>
                                                <p class="chart-overall text-center medium-thin uppercase"><span class="big-medium animate-number" data-value="6175" data-animation-duration="2500">0</span> Sales</p>
                                            </div>
                                            <div class="inner-container inline">
                                                <div data-percent="85" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="rgba(0,0,0,.4)" data-line-width="5">
                                                    <div class="text-center">
                                                        <span><i class="fa fa-eye fa-5x color-transparent-black"></i></span>
                                                    </div>
                                                </div>
                                                <p class="chart-overall text-center medium-thin uppercase color-transparent-black"> <span class="big-medium animate-number" data-value="8213" data-animation-duration="2500">0</span> Visits</p>
                                            </div> </li>
                                        <li class="col-md-4 col-sm-12 col-xs-12"> <h4 class="underline"><strong>Visitors</strong> Statistics</h4>
                                            <ul class="progress-list">
                                                <li>
                                                    <div class="details">
                                                        <div class="title">
                                                            America
                                                        </div>
                                                        <div class="description">
                                                            Visitors from America
                                                        </div>
                                                    </div>
                                                    <div class="status pull-right">
                                                        <span class="animate-number" data-value="40" data-animation-duration="1500">0</span>%
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="progress progress-little">
                                                        <div class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%" style="width: 0%;"></div>
                                                    </div> </li>
                                                <li>
                                                    <div class="details">
                                                        <div class="title">
                                                            Europe
                                                        </div>
                                                        <div class="description">
                                                            Visitors from Europe
                                                        </div>
                                                    </div>
                                                    <div class="status pull-right">
                                                        <span class="animate-number" data-value="38" data-animation-duration="1000">0</span>%
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="progress progress-little">
                                                        <div class="progress-bar progress-bar-cyan animate-progress-bar" data-percentage="35%" style="width: 0%;"></div>
                                                    </div> </li>
                                                <li>
                                                    <div class="details">
                                                        <div class="title">
                                                            Asia
                                                        </div>
                                                        <div class="description">
                                                            Visitors from Asia
                                                        </div>
                                                    </div>
                                                    <div class="status pull-right">
                                                        <span class="animate-number" data-value="12" data-animation-duration="800">0</span>%
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="progress progress-little">
                                                        <div class="progress-bar progress-bar-amethyst animate-progress-bar" data-percentage="12%" style="width: 0%;"></div>
                                                    </div> </li>
                                                <li>
                                                    <div class="details">
                                                        <div class="title">
                                                            Africa
                                                        </div>
                                                        <div class="description">
                                                            Visitors from Africa
                                                        </div>
                                                    </div>
                                                    <div class="status pull-right">
                                                        <span class="animate-number" data-value="7" data-animation-duration="600">0</span>%
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="progress progress-little">
                                                        <div class="progress-bar progress-bar-orange animate-progress-bar" data-percentage="7%" style="width: 0%;"></div>
                                                    </div> </li>
                                                <li>
                                                    <div class="details">
                                                        <div class="title">
                                                            Other
                                                        </div>
                                                    </div>
                                                    <div class="status pull-right">
                                                        <span class="animate-number" data-value="6" data-animation-duration="400">0</span>%
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="progress progress-little">
                                                        <div class="progress-bar progress-bar-red animate-progress-bar" data-percentage="6%" style="width: 0%;"></div>
                                                    </div> </li>
                                            </ul> </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /tile body -->
                        </section>
                        <!-- tile -->
                        <section class="tile color transparent-black">
                            <!-- tile header -->
                            <div class="tile-header">
                                <h1><strong>WaitingTask</strong></h1>
                                <div class="search">
                                    <input type="text" placeholder="Search..." />
                                </div>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->
                            <!-- tile body -->
                            <div class="tile-body no-vpadding">
                                <div class="table-responsive">
                                    <table class="table table-custom table-sortable nomargin">
                                        <thead>
                                        <tr>
                                            <th class="sortable sort-numeric sort-asc">ID</th>
                                            <th class="sortable sort-alpha">Project</th>
                                            <th class="sortable">Priority</th>
                                            <th class="sortable sort-amount">Status</th>
                                            <th class="text-right">Chart</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Graphic Layout for client</td>
                                            <td class="color-red priority">High priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent">
                                                        <span class="animate-number" data-value="50" data-animation-duration="1500">0</span>%
                                                    </div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="50%"></div>
                                                </div> </td>
                                            <td class="text-right"><span id="projectbar1">87,85,42,90,70,55,82,68</span> </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Make website responsive</td>
                                            <td class="color-green priority">Low priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent">
                                                        <span class="animate-number" data-value="13" data-animation-duration="1500">0</span>%
                                                    </div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="13%"></div>
                                                </div> </td>
                                            <td class="text-right"><span id="projectbar2">87,99,52,93,42,86,51,93</span> </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Clean css/html/js code</td>
                                            <td class="color-red priority">High priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent">
                                                        <span class="animate-number" data-value="76" data-animation-duration="1500">0</span>%
                                                    </div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="76%"></div>
                                                </div> </td>
                                            <td class="text-right"><span id="projectbar3">74,77,82,91,69,63,46,42</span> </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Database Optimization</td>
                                            <td class="color-orange priority">Normal priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent">
                                                        <span class="animate-number" data-value="38" data-animation-duration="1500">0</span>%
                                                    </div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="38%"></div>
                                                </div> </td>
                                            <td class="text-right"><span id="projectbar4">52,45,76,74,77,57,65,86</span> </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Database Migration</td>
                                            <td class="color-green priority">Low priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent">
                                                        <span class="animate-number" data-value="9" data-animation-duration="1500">0</span>%
                                                    </div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="9%"></div>
                                                </div> </td>
                                            <td class="text-right"><span id="projectbar5">53,70,47,96,62,49,69,55</span> </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Email server backup</td>
                                            <td class="color-orange priority">Normal priority</td>
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent">
                                                        <span class="animate-number" data-value="29" data-animation-duration="1500">0</span>%
                                                    </div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="29%"></div>
                                                </div> </td>
                                            <td class="text-right"><span id="projectbar6">69,80,85,96,67,58,75,82</span> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /tile body -->
                            <!-- tile footer -->
                            <div class="tile-footer text-center">
                                <ul class="pagination pagination-sm nomargin pagination-custom">
                                    <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                            <!-- /tile footer -->
                        </section>
                        <!-- /tile -->
                    </div>
                    <!-- /col 8 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /content container -->
        </div>
        <!-- Page content end -->
    </div>
    <!-- Make page fluid-->
</div>
<!-- Wrap all page content end -->
<section class="videocontent" id="video"></section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
<script type="text/javascript" src="assets/js/vendor/videobackground/jquery.videobackground.js"></script>
<script type="text/javascript" src="assets/js/vendor/blockui/jquery.blockUI.js"></script>
<script src="assets/js/vendor/flot/jquery.flot.min.js"></script>
<script src="assets/js/vendor/flot/jquery.flot.time.min.js"></script>
<script src="assets/js/vendor/flot/jquery.flot.selection.min.js"></script>
<script src="assets/js/vendor/flot/jquery.flot.animator.min.js"></script>
<script src="assets/js/vendor/flot/jquery.flot.orderBars.js"></script>
<script src="assets/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>
<script src="assets/js/vendor/morris/morris.min.js"></script>
<script src="assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js"></script>
<script src="assets/js/vendor/summernote/summernote.min.js"></script>
<script src="assets/js/vendor/chosen/chosen.jquery.min.js"></script>
<script src="assets/js/minimal.min.js"></script>
<script>
    $(function () {

        // Initialize card flip
        $('.card.hover').hover(function () {
            $(this).addClass('flip');
        }, function () {
            $(this).removeClass('flip');
        });

        // Initialize flot chart
        var d1 = [[1, 715],
            [2, 985],
            [3, 1525],
            [4, 1254],
            [5, 1861],
            [6, 2621],
            [7, 1987],
            [8, 2136],
            [9, 2364],
            [10, 2851],
            [11, 1546],
            [12, 2541]
        ];
        var d2 = [[1, 463],
            [2, 578],
            [3, 327],
            [4, 984],
            [5, 1268],
            [6, 1684],
            [7, 1425],
            [8, 1233],
            [9, 1354],
            [10, 1200],
            [11, 1260],
            [12, 1320]
        ];
        var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

        // flot chart generate
        var plot = $.plotAnimator($("#statistics-chart"),
            [
                {
                    label: 'Sales',
                    data: d1,
                    lines: {lineWidth: 3},
                    shadowSize: 0,
                    color: '#ffffff'
                },
                {
                    label: "Visits",
                    data: d2,
                    animator: {steps: 99, duration: 500, start: 200, direction: "right"},
                    lines: {
                        fill: .15,
                        lineWidth: 0
                    },
                    color: ['#ffffff']
                }, {
                label: 'Sales',
                data: d1,
                points: {show: true, fill: true, radius: 6, fillColor: "rgba(0,0,0,.5)", lineWidth: 2},
                color: '#fff',
                shadowSize: 0
            },
                {
                    label: "Visits",
                    data: d2,
                    points: {show: true, fill: true, radius: 6, fillColor: "rgba(255,255,255,.2)", lineWidth: 2},
                    color: '#fff',
                    shadowSize: 0
                }
            ], {

                xaxis: {

                    tickLength: 0,
                    tickDecimals: 0,
                    min: 1,
                    ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],

                    font: {
                        lineHeight: 24,
                        weight: "300",
                        color: "#ffffff",
                        size: 14
                    }
                },

                yaxis: {
                    ticks: 4,
                    tickDecimals: 0,
                    tickColor: "rgba(255,255,255,.3)",

                    font: {
                        lineHeight: 13,
                        weight: "300",
                        color: "#ffffff"
                    }
                },

                grid: {
                    borderWidth: {
                        top: 0,
                        right: 0,
                        bottom: 1,
                        left: 1
                    },
                    borderColor: 'rgba(255,255,255,.3)',
                    margin: 0,
                    minBorderMargin: 0,
                    labelMargin: 20,
                    hoverable: true,
                    clickable: true,
                    mouseActiveRadius: 6
                },

                legend: {show: false}
            });

        $(window).resize(function () {
            // redraw the graph in the correctly sized div
            plot.resize();
            plot.setupGrid();
            plot.draw();
        });

        // tooltips showing
        $("#statistics-chart").bind("plothover", function (event, pos, item) {
            if (item) {
                var x = item.datapoint[0],
                    y = item.datapoint[1];

                $("#tooltip").html('<h1 style="color: #418bca">' + months[x - 1] + '</h1>' + '<strong>' + y + '</strong>' + ' ' + item.series.label)
                    .css({top: item.pageY - 30, left: item.pageX + 5})
                    .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
        });


        //tooltips options
        $("<div id='tooltip'></div>").css({
            position: "absolute",
            //display: "none",
            padding: "10px 20px",
            "background-color": "#ffffff",
            "z-index": "99999"
        }).appendTo("body");

        //generate actual pie charts
        $('.pie-chart').easyPieChart();


        //sparkline charts
        $('#projectbar1').sparkline('html', {type: 'bar', barColor: '#22beef', barWidth: 4, height: 20});
        $('#projectbar2').sparkline('html', {type: 'bar', barColor: '#cd97eb', barWidth: 4, height: 20});
        $('#projectbar3').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});
        $('#projectbar4').sparkline('html', {type: 'bar', barColor: '#ffc100', barWidth: 4, height: 20});
        $('#projectbar5').sparkline('html', {type: 'bar', barColor: '#ff4a43', barWidth: 4, height: 20});
        $('#projectbar6').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});

        // sortable table
        $('.table.table-sortable th.sortable').click(function () {
            var o = $(this).hasClass('sort-asc') ? 'sort-desc' : 'sort-asc';
            $('th.sortable').removeClass('sort-asc').removeClass('sort-desc');
            $(this).addClass(o);
        });

        //todo's
        $('#todolist li label').click(function () {
            $(this).toggleClass('done');
        });

        // Initialize tabDrop
        $('.tabdrop').tabdrop({text: '<i class="fa fa-th-list"></i>'});

        //load wysiwyg editor
        $('#quick-message-content').summernote({
            toolbar: [
                //['style', ['style']], // no style button
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                //['insert', ['picture', 'link']], // no insert buttons
                //['table', ['table']], // no table button
                //['help', ['help']] //no help button
            ],
            height: 143   //set editable area's height
        });

        //multiselect input
        $(".chosen-select").chosen({disable_search_threshold: 10});

    })

</script>
</body>
</html>