<!DOCTYPE html>
<html>
<head>
    <title>Minimal 1.0 - Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/animate/animate.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/mmenu/css/jquery.mmenu.all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/videobackground/css/jquery.videobackground.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap-checkbox.css}" />


    <link rel="stylesheet" th:href="@{/assets/js/vendor/superbox/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/js/vendor/colorbox/css/colorbox.css}"/>

    <link th:href="@{/assets/css/minimal.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-1">




<!-- Preloader -->
<div class="mask"><div id="loader"></div></div>
<!--/Preloader -->

<!-- Wrap all page content here -->
<div id="wrap">




    <!-- Make page fluid -->
    <div class="row">





        <!-- Fixed navbar -->
        <div th:replace="admin/fragments::menutemplate"></div>
        <!-- Fixed navbar end -->






        <!-- Page content -->
        <div id="content" class="col-md-12">









            <!-- page header -->
            <div class="pageheader">


                <h2><i class="fa fa-camera" style="line-height: 48px;padding-left: 0;"></i> Gallery <span>// Place subtitle here...</span></h2>


                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>You are here</li>
                        <li><a href="index.html">Minimal</a></li>
                        <li><a href="#">Example Pages</a></li>
                        <li class="active">Gallery</li>
                    </ol>
                </div>


            </div>
            <!-- /page header -->






            <!-- content main container -->
            <div class="main">



                <!-- row -->
                <div class="row">




                    <!-- col 12 -->
                    <div class="col-md-12">



                        <!-- tile -->
                        <section class="tile transparent" id="superbox-gallery">


                            <!-- tile header -->
                            <div class="tile-header transparent">
                                <h1><strong>任务</strong> 列表</h1>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->


                            <!-- tile widget -->
                            <div class="tile-widget color transparent-black rounded-top-corners">
                                <ul class="tile-navbar bg-transparent-black-3">
                                    <li>
                                        <div class="checkbox check-transparent">
                                            <input type="checkbox" value="1" id="selectall">
                                            <label for="selectall">全选</label>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="gallery-tool disabled"><i class="fa fa-envelope-o"></i> 邮件</a>
                                    </li>
                                    <li>
                                        <a href="#" class="gallery-tool disabled"><i class="fa fa-download"></i> 下载</a>
                                    </li>
                                    <li>
                                        <a href="#" class="gallery-tool disabled"><i class="fa fa-pencil"></i> 编辑</a>
                                    </li>
                                    <li>
                                        <a href="#" class="gallery-tool disabled"><i class="fa fa-trash-o"></i> 删除</a>
                                    </li>
                                    <li class="filters">
                                        <a href="javascript:void(0);">All</a>
                                        <a href="javascript:void(0);">Documents</a>
                                        <a href="javascript:void(0);">Audio</a>
                                        <a href="javascript:void(0);" class="active">Images</a>
                                        <a href="javascript:void(0);">Videos</a>
                                    </li>

                                </ul>
                            </div>
                            <!-- /tile widget -->


                            <!-- tile body -->
                            <div class="tile-body color transparent-black superbox">

                                <div class="superbox-list img-view">
                                    <img src="/assets/images/img.png" data-img="/assets/images/img.png" class="superbox-img" alt>
                                    <div class="overlay">
                                        <div class="media-info">

                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="selectimg01" class="toggle">
                                                <label for="selectimg01"></label>
                                            </div>

                                            <h2>正在运行</h2>

                                            <span>运行时间：2017-11-11</span>

                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"><i class="fa fa-share"></i> 分享</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> 邮件</a></li>
                                                <li><a href="#"><i class="fa fa-pencil"></i> 编辑</a></li>
                                                <li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
                                            </ul>

                                        </div>
                                        <p>这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务。</p>
                                    </div>
                                </div>

                                <div class="superbox-list img-view">
                                    <img src="/assets/images/img.png" data-img="/assets/images/img.png" class="superbox-img" alt>
                                    <div class="overlay">
                                        <div class="media-info">

                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="selectimg01" class="toggle">
                                                <label for="selectimg01"></label>
                                            </div>

                                            <h2>正在运行</h2>

                                            <span>运行时间：2017-11-11</span>

                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"><i class="fa fa-share"></i> 分享</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> 邮件</a></li>
                                                <li><a href="#"><i class="fa fa-pencil"></i> 编辑</a></li>
                                                <li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
                                            </ul>

                                        </div>
                                        <p>这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务。</p>
                                    </div>
                                </div>

                                <div class="superbox-list img-view">
                                    <img src="/assets/images/img.png" data-img="/assets/images/img.png" class="superbox-img" alt>
                                    <div class="overlay">
                                        <div class="media-info">

                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="selectimg01" class="toggle">
                                                <label for="selectimg01"></label>
                                            </div>

                                            <h2>正在运行</h2>

                                            <span>运行时间：2017-11-11</span>

                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"><i class="fa fa-share"></i> 分享</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> 邮件</a></li>
                                                <li><a href="#"><i class="fa fa-pencil"></i> 编辑</a></li>
                                                <li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
                                            </ul>

                                        </div>
                                        <p>这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务。</p>
                                    </div>
                                </div>

                                <div class="superbox-list img-view">
                                    <img src="/assets/images/img.png" data-img="/assets/images/img.png" class="superbox-img" alt>
                                    <div class="overlay">
                                        <div class="media-info">

                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="selectimg01" class="toggle">
                                                <label for="selectimg01"></label>
                                            </div>

                                            <h2>正在运行</h2>

                                            <span>运行时间：2017-11-11</span>

                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"><i class="fa fa-share"></i> 分享</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> 邮件</a></li>
                                                <li><a href="#"><i class="fa fa-pencil"></i> 编辑</a></li>
                                                <li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
                                            </ul>

                                        </div>
                                        <p>这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务。</p>
                                    </div>
                                </div>

                                <div class="superbox-list img-view">
                                    <img src="/assets/images/img.png" data-img="/assets/images/img.png" class="superbox-img" alt>
                                    <div class="overlay">
                                        <div class="media-info">

                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="selectimg01" class="toggle">
                                                <label for="selectimg01"></label>
                                            </div>

                                            <h2>正在运行</h2>

                                            <span>运行时间：2017-11-11</span>

                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"><i class="fa fa-share"></i> 分享</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> 邮件</a></li>
                                                <li><a href="#"><i class="fa fa-pencil"></i> 编辑</a></li>
                                                <li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
                                            </ul>

                                        </div>
                                        <p>这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务。</p>
                                    </div>
                                </div>

                                <div class="superbox-list img-view">
                                    <img src="/assets/images/img.png" data-img="/assets/images/img.png" class="superbox-img" alt>
                                    <div class="overlay">
                                        <div class="media-info">

                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="selectimg01" class="toggle">
                                                <label for="selectimg01"></label>
                                            </div>

                                            <h2>正在运行</h2>

                                            <span>运行时间：2017-11-11</span>

                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"><i class="fa fa-share"></i> 分享</a></li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> 邮件</a></li>
                                                <li><a href="#"><i class="fa fa-pencil"></i> 编辑</a></li>
                                                <li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
                                            </ul>

                                        </div>
                                        <p>这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务，这是一个任务。</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tile body -->


                            <div class="tile-footer color transparent-black rounded-bottom-corners text-center">
                                <ul class="pagination pagination-sm pagination-custom text-center">
                                    <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>




                        </section>
                        <!-- /tile -->











                    </div>
                    <!-- /col 12 -->



                </div>
                <!-- /row -->




            </div>
            <!-- /content container -->






        </div>
        <!-- Page content end -->




        <div id="mmenu" class="right-panel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                <li class=""><a href="#mmenu-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                <li class=""><a href="#mmenu-friends" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
                <li class=""><a href="#mmenu-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="mmenu-users">
                    <h5><strong>Online</strong> Users</h5>

                    <ul class="users-list">

                        <li class="online">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="online">
                            <div class="media">

                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                </a>
                                <span class="badge badge-red unread">3</span>

                                <div class="media-body">
                                    <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>

                            </div>
                        </li>

                        <li class="online">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="online">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/george-avatar.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">George <strong>McCain</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="busy">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="busy">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar2.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Jesse <strong>Phoenix</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <h5><strong>Offline</strong> Users</h5>

                    <ul class="users-list">

                        <li class="offline">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar4.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Dell <strong>MacApple</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Paris, France</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="offline">
                            <div class="media">

                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar5.jpg" alt>
                                </a>

                                <div class="media-body">
                                    <h6 class="media-heading">Roger <strong>Flopple</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Rome, Italia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>

                            </div>
                        </li>

                        <li class="offline">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar6.jpg" alt>

                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Nico <strong>Vulture</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="offline">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar7.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Bobby <strong>Socks</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="offline">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>

                <div class="tab-pane" id="mmenu-history">
                    <h5><strong>Chat</strong> History</h5>

                    <ul class="history-list">

                        <li class="online">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="busy">
                            <div class="media">

                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                </a>
                                <span class="badge badge-red unread">3</span>

                                <div class="media-body">
                                    <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                                    <small>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</small>
                                    <span class="badge badge-outline status"></span>
                                </div>

                            </div>
                        </li>

                        <li class="offline">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                                    <small>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>

                <div class="tab-pane" id="mmenu-friends">
                    <h5><strong>Friends</strong> List</h5>
                    <ul class="favourite-list">

                        <li class="online">
                            <div class="media">

                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                </a>
                                <span class="badge badge-red unread">3</span>

                                <div class="media-body">
                                    <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>

                            </div>
                        </li>

                        <li class="offline">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="busy">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                        <li class="online">
                            <div class="media">
                                <a class="pull-left profile-photo" href="#">
                                    <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                                    <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                                    <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="tab-pane pane-settings" id="mmenu-settings">
                    <h5><strong>Chat</strong> Settings</h5>

                    <ul class="settings">

                        <li>
                            <div class="form-group">
                                <label class="col-xs-8 control-label">Show Offline Users</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch greensea">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-offline" checked="">
                                        <label class="onoffswitch-label" for="show-offline">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="form-group">
                                <label class="col-xs-8 control-label">Show Fullname</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch greensea">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-fullname">
                                        <label class="onoffswitch-label" for="show-fullname">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="form-group">
                                <label class="col-xs-8 control-label">History Enable</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch greensea">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-history" checked="">
                                        <label class="onoffswitch-label" for="show-history">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="form-group">
                                <label class="col-xs-8 control-label">Show Locations</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch greensea">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-location" checked="">
                                        <label class="onoffswitch-label" for="show-location">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="form-group">
                                <label class="col-xs-8 control-label">Notifications</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch greensea">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-notifications">
                                        <label class="onoffswitch-label" for="show-notifications">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="form-group">
                                <label class="col-xs-8 control-label">Show Undread Count</label>
                                <div class="col-xs-4 control-label">
                                    <div class="onoffswitch greensea">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-unread" checked="">
                                        <label class="onoffswitch-label" for="show-unread">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div><!-- tab-pane -->

            </div><!-- tab-content -->
        </div>






    </div>
    <!-- Make page fluid-->




</div>
<!-- Wrap all page content end -->



<section class="videocontent" id="video"></section>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src="assets/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
<script type="text/javascript" src="assets/js/vendor/videobackground/jquery.videobackground.js"></script>
<script type="text/javascript" src="assets/js/vendor/blockui/jquery.blockUI.js"></script>

<script src="assets/js/vendor/superbox/superbox.js"></script>

<script src="assets/js/vendor/colorbox/jquery.colorbox-min.js"></script>

<script src="assets/js/minimal.min.js"></script>

<script>
    $(function(){

        //initialize superbox

        $('.superbox').SuperBox();

        //superbox image selecting

        var checkSuperboxSelected = function(){
            $('#superbox-gallery .img-view .checkbox :checkbox').each(function() {
                var el = $(this);

                if(!el.is(':checked')) {
                    enableToolsSuperbox(false);
                } else {
                    el.parents('.img-view').addClass('selected');
                    enableToolsSuperbox(true);
                }

            });
        };

        $('#superbox-gallery .img-view .checkbox').click(function(){
            var el = $(this);
            if(!el.find(':checkbox').is(':checked')) {
                el.parents('.img-view').removeClass('selected');
                enableToolsSuperbox(false);
            } else {
                el.parents('.img-view').addClass('selected');
                enableToolsSuperbox(true);
            }
        });

        $('#superbox-gallery #selectall').click(function(){
            if($(this).prop('checked')) {
                $(this).parents('.tile').each(function(){
                    $(this).find('.img-view .checkbox :checkbox').prop('checked',true);
                    $(this).find('.img-view').addClass('selected');
                });
                enableToolsSuperbox(true);
            } else {
                $(this).parents('.tile').each(function(){
                    $(this).find('.img-view .checkbox :checkbox').prop('checked',false);
                    $(this).find('.img-view').removeClass('selected');
                });
                enableToolsSuperbox(false);
            }
        });

        var enableToolsSuperbox = function(enable) {

            if (enable) {

                $('#superbox-gallery .gallery-tool').removeClass('disabled');

            } else {

                var selected = false;

                $('#superbox-gallery .superbox .img-view').each(function(){
                    if($(this).hasClass('selected')) {
                        selected = true;
                    }
                });

                if(!selected) {
                    $('#superbox-gallery .gallery-tool').addClass('disabled');
                }
            }
        }

        checkSuperboxSelected();


        /* initialize colorbox */

        $('.colorbox .colorbox-list .overlay').colorbox({
            photo: true,
            opacity: .9,
            rel:'group1',
            scalePhotos:true,
            scrolling:false,
            maxWidth:'100%',
            maxHeight:'100%',
            transition: 'elastic',
            href: function(){
                var url = $(this).prev().data('img');
                return url;
            },
        });

        //colorbox image selecting

        var checkColorboxSelected = function(){
            $('#colorbox-gallery .img-view .checkbox :checkbox').each(function() {
                var el = $(this);

                if(!el.is(':checked')) {
                    enableToolsColorbox(false);
                } else {
                    el.parents('.img-view').addClass('selected');
                    enableToolsColorbox(true);
                }

            });
        };

        $('#colorbox-gallery .img-view .checkbox').click(function(){
            var el = $(this);
            if(!el.find(':checkbox').is(':checked')) {
                el.parents('.img-view').removeClass('selected');
                enableToolsColorbox(false);
            } else {
                el.parents('.img-view').addClass('selected');
                enableToolsColorbox(true);
            }
        });

        $('#colorbox-gallery #selectall2').click(function(){
            if($(this).prop('checked')) {
                $(this).parents('.tile').each(function(){
                    $(this).find('.img-view .checkbox :checkbox').prop('checked',true);
                    $(this).find('.img-view').addClass('selected');
                });
                enableToolsColorbox(true);
            } else {
                $(this).parents('.tile').each(function(){
                    $(this).find('.img-view .checkbox :checkbox').prop('checked',false);
                    $(this).find('.img-view').removeClass('selected');
                });
                enableToolsColorbox(false);
            }
        });

        var enableToolsColorbox = function(enable) {

            if (enable) {

                $('#colorbox-gallery .gallery-tool').removeClass('disabled');

            } else {

                var selected = false;

                $('#colorbox-gallery .colorbox .img-view').each(function(){
                    if($(this).hasClass('selected')) {
                        selected = true;
                    }
                });

                if(!selected) {
                    $('#colorbox-gallery .gallery-tool').addClass('disabled');
                }
            }
        }

        checkColorboxSelected();

        $('.img-view .media-info .btn.dropdown-toggle').on('click', function(e){
            $(this).next().toggle();
            e.stopPropagation();
        });

        $('.img-view .media-info .dropdown-menu').on('click', function(e){
            e.stopPropagation();
            $(this).toggle();
        });

        $('.img-view .media-info .checkbox').on('click', function(e){
            e.stopPropagation();
        });


    })

</script>
</body>
</html>

