<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <title>PS-JOB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/animate/animate.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/mmenu/css/jquery.mmenu.all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/videobackground/css/jquery.videobackground.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/tabdrop/css/tabdrop.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/summernote/css/summernote.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/js/vendor/summernote/css/summernote-bs3.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap-switch/bootstrap-switch.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/vendor/bootstrap-sweetalert/sweetalert.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/minimal.css}" />
    <style type="text/css">
        *{font-family: "Microsoft YaHei";}
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv-printshiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="bg-1">
<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>
<!--/Preloader -->
<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Make page fluid -->
    <div class="row">
        <!-- Fixed navbar -->
        <div th:replace="admin/fragments::menutemplate"></div>
        <!-- Fixed navbar end -->
        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- page header -->
            <div class="pageheader">
                <h2><i class="fa fa-tachometer"></i> Dashboard <span>任务列表</span></h2>
            </div>
            <!-- /page header -->
            <!-- content main container -->
            <div class="main">
                <!-- row -->
                <div class="row">
                    <!-- col 8 -->
                    <div class="col-lg-12 col-md-12">
                        <!-- tile -->
                        <section class="tile color transparent-black">
                            <!-- tile header -->
                            <div class="tile-header">
                                <h1>任务列表</h1>
                                <div class="search">
                                    <input type="text" placeholder="Search..." />
                                </div>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->
                            <!-- tile body -->
                            <div class="tile-body no-vpadding">
                                <div class="table-responsive">
                                    <table class="table table-custom table-sortable nomargin">
                                        <thead>
                                        <tr>
                                            <th class="sortable sort-numeric sort-asc">优先级</th>
                                            <th class="sortable">调度类</th>
                                            <th class="sortable">监控类</th>
                                            <th class="sortable">执行类</th>
                                            <th class="sortable sort-numeric">创建时间</th>
                                            <th class="">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="task:${taskList}" th:attr="data-task-id=${task.id}">
                                            <td th:text="${task.sort}">1</td>
                                            <td th:text="${task.scheduler}">scheduler</td>
                                            <td th:text="${task.monitor}">monitor</td>
                                            <td th:text="${task.executor}">executor</td>
                                            <td th:text="${task.createTimeStr}">2017.12.28 15:09:22</td>
                                            <td class="text-center">
                                                <input th:unless="${task.paused}" type="checkbox" name="bootstrap-switch" checked />
                                                <input th:if="${task.paused}" type="checkbox" name="bootstrap-switch" />
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /tile body -->
                            <!-- tile footer -->
                            <div class="tile-footer text-center">
                                <ul class="pagination pagination-sm nomargin pagination-custom">
                                    <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                            <!-- /tile footer -->
                        </section>
                        <!-- /tile -->
                    </div>
                    <!-- /col 8 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /content container -->
        </div>
        <!-- Page content end -->
    </div>
    <!-- Make page fluid-->
</div>
<!-- Wrap all page content end -->
<section class="videocontent" id="video"></section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/mmenu/js/jquery.mmenu.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/sparkline/jquery.sparkline.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/nicescroll/jquery.nicescroll.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/animate-numbers/jquery.animateNumbers.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/videobackground/jquery.videobackground.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vendor/blockui/jquery.blockUI.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.min.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.time.min.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.animator.min.js}"></script>
<script th:src="@{/assets/js/vendor/flot/jquery.flot.orderBars.js}"></script>
<script th:src="@{/assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js}"></script>
<script th:src="@{/assets/js/vendor/summernote/summernote.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap-switch/bootstrap-switch.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap-sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/assets/js/minimal.min.js}"></script>
<script th:src="@{/assets/js/common.js}"></script>
<script th:src="@{/assets/js/task-list.js}"></script>
<script>
    $(function(){
        // sortable table
        $('.table.table-sortable th.sortable').click(function () {
            var o = $(this).hasClass('sort-asc') ? 'sort-desc' : 'sort-asc';
            $('th.sortable').removeClass('sort-asc').removeClass('sort-desc');
            $(this).addClass(o);
        });
    })
</script>
</body>
</html>